apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: queue-server
  name: queue-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: queue-server
  template:
    metadata:
      labels:
        app: queue-server
    spec:
      containers:
        - image: yxchia98/queue-server
          name: queue-server
          env:
            # - name: ADMINUSERNAME
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: username
            # - name: ADMINPASSWORD
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: password
            - name: DB_URL
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: database_url
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_port
            - name: PROTO_PATH
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_proto_path
