apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: queue-server
  name: queue-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: queue-server
  template:
    metadata:
      labels:
        app: queue-server
      annotations:
        linkerd.io/inject: enabled
        config.linkerd.io/proxy-cpu-request: "0.1"
    spec:
      containers:
        - image: yxchia98/queue-server
          name: queue-server
          ports:
            - containerPort: 50051
          env:
            # - name: ADMINUSERNAME
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: username
            # - name: ADMINPASSWORD
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: password
            - name: ENDPOINT_URL
              valueFrom:
                configMapKeyRef:
                  name: queueserver-configmap
                  key: target_endpoint
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: mongo-creds
                  key: db_access
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_port
            - name: PROTO_PATH
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_proto_path
          resources:
            requests:
              cpu: 10m
            limits:
              cpu: 20m
