apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: queue-server
  name: queue-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: queue-server
  template:
    metadata:
      labels:
        app: queue-server
    spec:
      containers:
        - image: yxchia98/queue-server
          name: queue-server
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          env:
            # - name: ADMINUSERNAME
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: username
            # - name: ADMINPASSWORD
            #   valueFrom:
            #     secretKeyRef:
            #       name: mongo-creds
            #       key: password
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: mongo-creds
                  key: db_access
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_port
            - name: PROTO_PATH
              valueFrom:
                configMapKeyRef:
                  name: mongo-configmap
                  key: queueserver_proto_path
